@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thank you for adding the movie " + Model.title + ".";
}
 @model Movies.Models.EnterMovie

<div>
    <p>
        @if (Model.title == "Independence Day")
        {
            @:Actually we cannot display that movie becaue it is not the most american movie ever made.
        }
        else
        {
            @: Great! That song should be added to the list. You may check the link below to see if it has been succesfully added.
        }


        <a href="list" >Click here</a>
    </p>
</div>