@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewBag.Title</h2>
    <p>Learn about <a href="https://baconsale.com/">Joel. </a> Maybe the favorite child?</p>
    <img class="pic" src="~/JoelHilton.jpg" />

</div>
